.nameTag {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  background: var(--surface-2);
  padding: 10px;
  border-radius: 5px;
}

.leading {
  background: var(--accent-soft);
}
