.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
  border: 2px solid var(--color-white);
  border-radius: 10px;
  font-size: 1em;
  margin: 1em;
  text-transform: uppercase;
  font-weight: 600;
  background-color: var(--button-bg);
  color: var(--button-fg);
  cursor: pointer;
}

.button:disabled {
  opacity: 0.6;
  cursor: auto;
}
